:root{
  --primary: #212529;
  --secondary: #e9ecef;
  --white: #f8f9fa;
  --t-secondary: #adb5bd;
  --t-tertiary: #6c757d;
}

* {
  margin: 0;
  color: var(--primary);
  font-size: 1rem;
  font-family: "Rubik";
}

body{
  /* width: 100vw; */
}

button{
  border: none;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  &:visited{
      color: var(--primary);
  }
}